:root {
    --font-main: var(--font-pretendard), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

body {
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea, select {
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    outline: none;
}

button {
    cursor: pointer;
}

img, video {
    max-width: 100%;
    height: auto;
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}