.likeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s;
  position: absolute;
  top: 0;
  right: 0;
}

.likeBtn:hover {
  transform: scale(1.2);
}

.likeBtn.active {
  color: #ff2d46;
}